<a href="https://colab.research.google.com/github/vicaleram/DSPS_VRamirez/blob/master/Lecture_of_9_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [11]:
rain = pd.read_csv('https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv')
rain.columns
rain.head()

       STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN

[5 rows x 8 columns]

In [0]:
rainonly = rain[["DATE" , "PRCP"]]

In [4]:
rainonly.DATE.dtype

dtype('O')

In [5]:
rainonly['date'] = pd.to_datetime(rainonly.DATE)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
rainonly.head(20)

          DATE  PRCP
0   2010-01-01  0.28
1   2010-01-02  0.00
2   2010-01-03  0.00
3   2010-01-04  0.00
4   2010-01-05  0.00
5   2010-01-06  0.00
6   2010-01-07  0.00
7   2010-01-08  0.05
8   2010-01-09  0.00
9   2010-01-10  0.00
10  2010-01-11  0.00
11  2010-01-12  0.00
12  2010-01-13  0.00
13  2010-01-14  0.00
14  2010-01-15  0.00
15  2010-01-16  0.00
16  2010-01-17  0.00
17  2010-01-18  0.74
18  2010-01-19  0.00
19  2010-01-20  0.00

In [0]:
recent = rainonly[rainonly['date']>pd.to_datetime("2018/01/01")]

In [13]:
recent.describe()

             PRCP
count  615.000000
mean     0.162504
std      0.365007
min      0.000000
25%      0.000000
50%      0.000000
75%      0.120000
max      2.450000

In [0]:
import numpy as np

( 0.16 - 0.14)/(0.38/ np.sqrt(615))

1.3052207123828672